<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350673726317-6d5hc9p4i33q6d65mefatumb1gsttea3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350673726317-6d5hc9p4i33q6d65mefatumb1gsttea3</string>
	<key>API_KEY</key>
	<string>AIzaSyBCEWxu0STcP-Xa_KJVWy5-zu4z3O6STnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>350673726317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMind</string>
	<key>PROJECT_ID</key>
	<string>fluttermind-2c29a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermind-2c29a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350673726317:ios:b75733ccb64db5ad86c864</string>
</dict>
</plist>